[project]
authors = ["Shlok Natarajan <shlok.natarajan@gmail.com>"]
channels = ["conda-forge"]
name = "pmid-article-resolver"
platforms = ["osx-arm64"]
version = "0.1.0"

[tasks]
update-records = "python -m src.manage_records"
convert-local-html = "python -m src.markdown_from_html"

[dependencies]
python-dotenv = ">=1.1.0,<2"
requests = ">=2.32.3,<3"
loguru = ">=0.7.3,<0.8"
ipykernel = ">=6.29.5,<7"
pandas = ">=2.2.3,<3"
tqdm = ">=4.67.1,<5"
biopython = ">=1.85,<2"
beautifulsoup4 = ">=4.13.4,<5"
black = ">=25.1.0,<26"
